# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
.pnp.js

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/server/packages
/server/TestResults

/server/tools/NuGet.exe
/server/App_Data
/server/secrets
/server/data
.secrets
/server/appsettings.json
/server/local.settings.json

/server/node_modules
/server/dist

# Local python packages
/server/.python_packages/

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json